.background {

  background: url(https://res.cloudinary.com/dq1yih0di/image/upload/v1677966594/gooi/steven-weeks-DUPFowqI6oI-unsplash_z4jeox.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.body-content {
  // position: relative;
  text-align: center;
  // width: 847px;
  // height: 832px;
  // background: #FDE799;

  h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: bold;
    margin-top: 16px;
  }

  h3 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-top: 8px;
  }

}
.body-blurb {
  position: relative;
  background-color: antiquewhite;
  // background: rgba(255, 255, 255, 0.29);
  border-radius: 25px;
  width: 85%;
  // text-align: center;
  // border-radius: 5px;
  margin: auto;
  padding: 12px 32px 12px 32px;


}
.logo-big {
  // position: absolute;
  width: 269px;
  height: 269px;
  // left: 505px;
  // top: 35px;
  background: rgba(255, 255, 255, 0.858);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin-top: 24px;
}
