

<div class="background">
  <div class="body-content">
  <br>
  <div class="body-blurb">
    <img src="https://res.cloudinary.com/dq1yih0di/image/upload/v1686580006/Screenshot_2023-06-12_at_16.25.52_edlbw5.png" style='width:50%;' />

  </div>
    <br>
    <div class="body-blurb">
      <h2>Your first choice for organic waste collections</h2>
      <div>
        <%# <i class="fa-light fa-trash-check"></i> %>
        <p>Gooi makes composting your waste as easy as throwing it in the bin.</p>
      </div>
      <div>
        <%# <i class="fa-light fa-house-heart"></i> %>
        <p>Our goal is to collect kitchen scraps from as many Cape Town households as we can.</p>
      </div>
      <div>
        <%# <i class="fa-regular fa-seedling"></i> %>
        <p>Join us in our mission to enrich soil and divert organic waste from landfills, one compostable bag at a time.</p>
      </div>

      <a class="btn btn-sign-up" href="https://docs.google.com/forms/d/e/1FAIpQLScrQd_U_JMxDQTwtgiTyMS1AABlRdpiPjihJawnlG2Vk-7zlg/viewform">Sign up</a>
      <p>Say goodbye to the hassle of disposing of your organic waste and embrace effortless sustainability with gooi.</p>
    </div>
  </div>
  <br>
  <br>
</div>
