

<div class="container text-center mt-5">
  <div class="body mt-3">
    <h1>Welcome to Gooi</h1>
    <p>Your first choice for organic waste collections</p>
    <br>
    <br>
    <p>We have set up a simple service to collect kitchen scraps from as many
    Cape Town households as we can.
    We will be collecting kitchen scraps in compostable bags once a week and
    transporting them to a facility where they will be composted and used to
    enrich future soils.</p>
    <br>
    <p>Say goodbye to the hassle of disposing of your organic waste and hello to effortless sustainability with GOOi.</p>
    <a class="btn btn-sign-up" href="https://docs.google.com/forms/d/e/1FAIpQLScrQd_U_JMxDQTwtgiTyMS1AABlRdpiPjihJawnlG2Vk-7zlg/viewform">Sign up</a>
  </div>
</div>
