

<div class="background">
  <div class="body-content">
    <img class="logo-big" alt="gooi-logo" src="https://res.cloudinary.com/dq1yih0di/image/upload/v1677923058/gooi/gooi-logo-converted_k1btye.png" />
    <h1>Welcome to Gooi</h1>
    <h3>Your first choice for organic waste collections</h3>
    <div class="body-blurb">
      <p>Gooi makes composting your waste as easy as throwing it in the bin.</p>
        <p>Our goal is to collect kitchen scraps from as many
      Cape Town households as we can.

      Join us in our mission to enrich soil and divert organic waste from landfills, one compostable bag at a time!</p>

      <a class="btn btn-sign-up" href="https://docs.google.com/forms/d/e/1FAIpQLScrQd_U_JMxDQTwtgiTyMS1AABlRdpiPjihJawnlG2Vk-7zlg/viewform">Sign up</a>
      <p>Say goodbye to the hassle of disposing of your organic waste and embrace effortless sustainability with gooi.</p>
    </div>
  </div>
  <br>
  <br>
</div>
