.btn-sign-up {
  color: #0e0000;
  // background: white;
  border: 2px solid #0e0000;
  padding: 4px 16px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 23px;
  margin-top: -5px;
  margin-bottom: 5px;
  opacity: 0.7;
  transition: opacity 0.4s ease;
}

.btn-sign-up:hover {
  opacity: 1;
  color: #0e0000;
  background-color: antiquewhite;
}
