.btn-sign-up {
  color: white;
  background-color: #f2ba45;

  border: 2px solid white;

  padding: 4px 16px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 4vmin;
  box-shadow: 1px 1px lightgray;
  text-shadow: 1px 1px lightgrey;
  margin-top: -5px;
  margin-bottom: 5px;

  transition: opacity 0.4s ease;
}

.btn-sign-up:hover {
  color: #0e0000;
  background-color: white;
  border: 2px solid rgb(32, 72, 59);
  // box-shadow: 1px 1px lightgray;
  box-shadow: none;
  text-shadow: none;
}
