// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1 {
  font-size: 8.9vw;
}
h2 {
  font-size: 4.8vh;
}
p {
  font-size: 3vmin;
}
